{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="row"><div class="col-md-4 col-md-offset-4">
        <h2>{% block title %}Log In{% endblock %}</h2>

        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                {% bootstrap_button 'Log In' button_type='submit' %}
            {% endbuttons %}
        </form>
    </div></div>
{% endblock %}
